{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="create-account-card">
                <h1 class="create-account-title">Create a GameRank Account</h1>
                <h6 class="create-account-subtitle">(Only username and password are required)</h6>
                <div class="dropdown-divider"></div>
                <form id="newUserForm" method="POST" action="/newProfile">
                    <div class="mb-3">
                        <label for="newUsername" class="form-label">Username:</label>
                        <input type="text" id="newUsername" name="newUsername" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="newPassword" class="form-label">Password:</label>
                        <input type="password" id="newPassword" name="newPassword" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="newBio" class="form-label">Bio:</label>
                        <input type="text" id="newBio" name="newBio" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="newDiscord" class="form-label">Discord Link:</label>
                        <input type="text" id="newDiscord" name="newDiscord" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="newNintendo" class="form-label">Nintendo Link:</label>
                        <input type="text" id="newNintendo" name="newNintendo" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="newSteam" class="form-label">Steam Link:</label>
                        <input type="text" id="newSteam" name="newSteam" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="newPlayStation" class="form-label">PlayStation Link:</label>
                        <input type="text" id="newPlayStation" name="newPlayStation" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="newXbox" class="form-label">Xbox Link:</label>
                        <input type="text" id="newXbox" name="newXbox" class="form-control">
                    </div>
                    <div>
                        <button type="submit" class="btn">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    .create-account-card {
        background-color: #f5f5f5;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        margin-bottom: 1rem;
    }

    .create-account-title {
        font-size: 24px;
        color: #333;
        text-align: center;
        margin-bottom: 10px;
    }

    .create-account-subtitle {
        font-size: 14px;
        color: #555;
        text-align: center;
        margin-bottom: 20px;
    }

    .btn {
        color: whitesmoke;
        background-color: blueviolet;
    }
</style>
{% endblock %}
