{% extends 'base.html' %}

{% block content %}

<h1>Complete PlayStation Vita Database</h1>

<table id="PSVitaGamesTable" border="1">
    <thead>
        <tr>
            <th>GameRank</th>
            <th>Title</th>
            <th>Release Date</th>
            <th>Platform</th>
            <th>Meta Score</th>
            <th>User Score</th>
            <th>GameRank Score</th>
            <th>Favorite</th>
        </tr>
    </thead>
    <tbody id="tableBody">
        {% for game in PSVita_games %}
                <tr class="game-row" data-platform="{{ game.platform.name }}"  data-genre="{% for genre in game.genres %}{{ genre.name }}{% if not loop.last %}, {% endif %}{% endfor %}"  data-decade="{{ game.decade.name }}">
            <td>{{ game.gamerank }}</td>
            <td>{{ game.game_title }}</td>
            <td>{{ game.release_date }}</td>
            <td>{{ game.platform.name }}</td>
            <td>{{ game.metascore }}</td>
            <td>{{ game.user_score }}</td>
            <td>{{ game.gamerank_score }}</td>
            <td><button class="addToFavorites" data-game-id="{{ game.id }}">Add to Favorites</button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(document).ready(function() {
        // Use event delegation to handle button clicks
        $("#tableBody").on("click", ".addToFavorites", function() {
            // Get the game ID from the data attribute
            var gameId = $(this).data("game-id");
    
            // Send an AJAX request to add the game to favorites
            $.ajax({
                type: "POST", // You can use POST or another HTTP method
                url: "/add_to_favorites", // Replace with your server route
                data: { gameId: gameId },
                success: function(response) {
                    // Handle the server's response (e.g., show a success message)
                    alert("Added to Favorites!");
                },
                error: function(xhr, status, error) {
                    // Handle errors (e.g., show an error message)
                    console.error(error);
                }
            });
        });
    });
</script>
{% endblock %}