{% extends 'base.html' %}

{% block content %}


<h1>Username: {{ user.username }}</h1>

<h4>Bio: {{ user.bio }}</h4>

<!-- <h4>Favorite Platform: {{ user.favorite_platform }} || Favorite Decade: {{ user.favorite_decade }} || Favorite Genre: {{ user.favorite_genre }}</h4>
<h4>Average Gamerank Score: {{ user.average_gamerank_score }} || Average Meta Score: {{ user.average_meta_score }} || Average User Score: {{ user.average_user_score }}</h4> -->

<h5>Discord: {{ user.discord_link }}</h5>
<h5>Nintendo: {{ user.nintendo_link }}</h5>
<h5>PlayStation: {{ user.playstation_link }}</h5>
<h5>Steam: {{ user.steam_link }}</h5>
<h5>Xbox: {{ user.xbox_link }}</h5>

{% endblock %}