{% extends 'base.html' %}

{% block content %}

<h1>GameRank's Worst Games of All Time</h1>


<table border="1">
<tr><th>GameRank</th></th><th>Title</th><th>Release Date</th><th>Platform</th><th>Meta Score</th><th>User Score</th><th>GameRank Score</th></tr>
<tr><td>20507.</td><td>Ride to Hell: Retribution</td><td>June 24, 2013</td><td>PC</td><td>16</td><td>14</td><td>15</td></tr>
<tr><td>20506.</td><td>Alone in the Dark: Illumination</td><td>June 11, 2015</td><td>PC</td><td>19</td><td>13</td><td>16</td></tr>
<tr><td>20505.</td><td>Ride to Hell: Retribution</td><td>June 25, 2013</td><td>Xbox 360</td><td>19</td><td>13</td><td>16</td></tr>
<tr><td>20504.</td><td>Double Dragon II: Wander of the Dragons</td><td>April 5, 2013</td><td>Xbox 360</td><td>17</td><td>16</td><td>17</td></tr>
<tr><td>20503.</td><td>Fast & Furious: Showdown</td><td>May 21, 2013</td><td>Xbox 360</td><td>22</td><td>13</td><td>18</td></tr>
<tr><td>20502.</td><td>eFootball 2022</td><td>September 30, 2021</td><td>PC</td><td>25</td><td>13</td><td>19</td></tr>
<tr><td>20501.</td><td>Infestation: Survivor Stories (The War Z)</td><td>October 15, 2012</td><td>PC</td><td>20</td><td>17</td><td>19</td></tr>
<tr><td>20500.</td><td>Leisure Suit Larry: Box Office Bust</td><td>May 5, 2009</td><td>PlayStation 3</td><td>17</td><td>20</td><td>19</td></tr>
<tr><td>20499.</td><td>Family Party: 30 Great Games Obstacle Arcade</td><td>December 4, 2012</td><td>Wii U</td><td>11</td><td>28</td><td>20</td></tr>
<tr><td>20498.</td><td>Dragon Ball: Evolution</td><td>April 8, 2009</td><td>PSP</td><td>28</td><td>14</td><td>21</td></tr>
<tr><td>20497.</td><td>R.I.P.D. The Game</td><td>July 16, 2013</td><td>PC</td><td>26</td><td>15</td><td>21</td></tr>
<tr><td>20496.</td><td>NBA Unrivaled</td><td>November 12, 2009</td><td>PlayStation 3</td><td>24</td><td>18</td><td>21</td></tr>
<tr><td>20495.</td><td>Rambo: The Video Game</td><td>April 29, 2014</td><td>PlayStation 3</td><td>23</td><td>18</td><td>21</td></tr>
<tr><td>20494.</td><td>Drake of the 99 Dragons</td><td>November 3, 2003</td><td>Xbox</td><td>22</td><td>20</td><td>21</td></tr>
<tr><td>20493.</td><td>Leisure Suit Larry: Box Office Bust</td><td>March 31, 2009</td><td>PC</td><td>20</td><td>21</td><td>21</td></tr>
<tr><td>20492.</td><td>Deal or No Deal</td><td>July 23, 2007</td><td>DS</td><td>20</td><td>21</td><td>21</td></tr>
<tr><td>20491.</td><td>Ghostbusters</td><td>July 12, 2016</td><td>PlayStation 4</td><td>30</td><td>14</td><td>22</td></tr>
<tr><td>20490.</td><td>eFootball 2022</td><td>September 30, 2021</td><td>PlayStation 5</td><td>34</td><td>12</td><td>23</td></tr>
<tr><td>20489.</td><td>The Lord of the Rings - Gollum</td><td>May 25, 2023</td><td>PlayStation 5</td><td>34</td><td>11</td><td>23</td></tr>
<tr><td>20488.</td><td>The Quiet Man</td><td>November 1, 2018</td><td>PlayStation 4</td><td>28</td><td>18</td><td>23</td></tr>
<tr><td>20487.</td><td>Thundercats</td><td>October 30, 2012</td><td>DS</td><td>28</td><td>17</td><td>23</td></tr>
<tr><td>20486.</td><td>Terrawars: New York Invasion</td><td>July 6, 2006</td><td>PC</td><td>24</td><td>22</td><td>23</td></tr>
<tr><td>20485.</td><td>Pulse Racer</td><td>January 2, 2003</td><td>Xbox</td><td>24</td><td>22</td><td>23</td></tr>
<tr><td>20484.</td><td>Greyhill Incident</td><td>June 9, 2023</td><td>PC</td><td>38</td><td>10</td><td>24</td></tr>
<tr><td>20483.</td><td>Pool Party</td><td>September 5, 2007</td><td>Wii</td><td>32</td><td>16</td><td>24</td></tr>
<tr><td>20482.</td><td>Tony Hawk's Pro Skater 5</td><td>September 29, 2015</td><td>PlayStation 4</td><td>32</td><td>15</td><td>24</td></tr>
<tr><td>20481.</td><td>Wild West Online</td><td>May 10, 2018</td><td>PC</td><td>29</td><td>19</td><td>24</td></tr>
<tr><td>20480.</td><td>Fray</td><td>February 8, 2012</td><td>PC</td><td>27</td><td>21</td><td>24</td></tr>
<tr><td>20479.</td><td>Legends of Pegasus</td><td>August 10, 2012</td><td>PC</td><td>36</td><td>13</td><td>25</td></tr>
<tr><td>20478.</td><td>Rambo: The Video Game</td><td>February 21, 2014</td><td>PC</td><td>34</td><td>16</td><td>25</td></tr>
<tr><td>20477.</td><td>Air Conflicts: Vietnam Ultimate Edition</td><td>September 16, 2014</td><td>PlayStation 4</td><td>30</td><td>19</td><td>25</td></tr>
<tr><td>20476.</td><td>Hoodwink</td><td>June 28, 2012</td><td>PC</td><td>29</td><td>21</td><td>25</td></tr>
<tr><td>20475.</td><td>Survivor (2001)</td><td>November 12, 2001</td><td>PC</td><td>26</td><td>23</td><td>25</td></tr>
<tr><td>20474.</td><td>Leisure Suit Larry: Box Office Bust</td><td>March 31, 2009</td><td>Xbox 360</td><td>25</td><td>25</td><td>25</td></tr>
<tr><td>20473.</td><td>Vroom in the Night Sky</td><td>April 5, 2017</td><td>Switch</td><td>17</td><td>33</td><td>25</td></tr>
<tr><td>20472.</td><td>FIFA 20: Legacy Edition</td><td>September 27, 2019</td><td>Switch</td><td>43</td><td>9</td><td>26</td></tr>
<tr><td>20471.</td><td>Fast & Furious Crossroads</td><td>August 7, 2020</td><td>PlayStation 4</td><td>35</td><td>17</td><td>26</td></tr>
<tr><td>20470.</td><td>Fast & Furious Crossroads</td><td>August 7, 2020</td><td>PC</td><td>34</td><td>18</td><td>26</td></tr>
<tr><td>20469.</td><td>Rambo: The Video Game</td><td>February 21, 2014</td><td>Xbox 360</td><td>28</td><td>23</td><td>26</td></tr>
<tr><td>20468.</td><td>Road Rage</td><td>November 14, 2017</td><td>PlayStation 4</td><td>26</td><td>25</td><td>26</td></tr>
<tr><td>20467.</td><td>Charlie and the Chocolate Factory</td><td>July 12, 2005</td><td>PC</td><td>26</td><td>25</td><td>26</td></tr>
<tr><td>20466.</td><td>Jenga World Tour</td><td>December 7, 2007</td><td>Wii</td><td>26</td><td>26</td><td>26</td></tr>
<tr><td>20465.</td><td>Fighter Within</td><td>November 19, 2013</td><td>Xbox One</td><td>23</td><td>28</td><td>26</td></tr>
<tr><td>20464.</td><td>FlatOut 3: Chaos & Destruction</td><td>December 13, 2011</td><td>PC</td><td>23</td><td>29</td><td>26</td></tr>
<tr><td>20463.</td><td>Afro Samurai 2: Revenge of Kuma Volume One</td><td>September 22, 2015</td><td>PlayStation 4</td><td>21</td><td>30</td><td>26</td></tr>
<tr><td>20462.</td><td>The History Channel: Battle for the Pacific</td><td>February 19, 2008</td><td>PlayStation 3</td><td>36</td><td>18</td><td>27</td></tr>
<tr><td>20461.</td><td>Umbrella Corps</td><td>June 21, 2016</td><td>PC</td><td>36</td><td>17</td><td>27</td></tr>
<tr><td>20460.</td><td>Rekoil</td><td>January 28, 2014</td><td>PC</td><td>32</td><td>22</td><td>27</td></tr>
<tr><td>20459.</td><td>Grand Theft Auto: The Trilogy - The Definitive Edition</td><td>November 11, 2021</td><td>PC</td><td>49</td><td>6</td><td>28</td></tr>
<tr><td>20458.</td><td>Grand Theft Auto: The Trilogy - The Definitive Edition</td><td>November 11, 2021</td><td>Switch</td><td>46</td><td>9</td><td>28</td></tr>
<tr><td>20457.</td><td>Attack of the Movies 3D</td><td>May 18, 2010</td><td>Xbox 360</td><td>38</td><td>17</td><td>28</td></tr>
<tr><td>20456.</td><td>The Lord of the Rings - Gollum</td><td>May 25, 2023</td><td>PC</td><td>38</td><td>18</td><td>28</td></tr>
<tr><td>20455.</td><td>Terminator 3: Rise of the Machines</td><td>November 11, 2003</td><td>Xbox</td><td>35</td><td>20</td><td>28</td></tr>
<tr><td>20454.</td><td>Transformers: Dark of the Moon - Stealth Force Edition</td><td>June 14, 2011</td><td>Wii</td><td>34</td><td>21</td><td>28</td></tr>
<tr><td>20453.</td><td>Mortal Kombat: Special Forces</td><td>June 30, 2000</td><td>PlayStation</td><td>28</td><td>28</td><td>28</td></tr>
<tr><td>20452.</td><td>Basement Crawl</td><td>February 25, 2014</td><td>PlayStation 4</td><td>27</td><td>29</td><td>28</td></tr>
<tr><td>20451.</td><td>Aquaman: Battle for Atlantis</td><td>July 23, 2003</td><td>GameCube</td><td>27</td><td>29</td><td>28</td></tr>
<tr><td>20450.</td><td>Rogue Warrior</td><td>December 1, 2009</td><td>PlayStation 3</td><td>27</td><td>29</td><td>28</td></tr>
<tr><td>20449.</td><td>Mucha Lucha! Mascaritas of the Lost Code</td><td>November 18, 2003</td><td>Game Boy Advance</td><td>26</td><td>30</td><td>28</td></tr>
<tr><td>20448.</td><td>Tenkai Knights: Brave Battle</td><td>October 7, 2014</td><td>3DS</td><td>26</td><td>29</td><td>28</td></tr>
<tr><td>20447.</td><td>Aquaman: Battle for Atlantis</td><td>July 30, 2003</td><td>Xbox</td><td>26</td><td>30</td><td>28</td></tr>
<tr><td>20446.</td><td>Call for Heroes: Pompolic Wars</td><td>June 26, 2007</td><td>PC</td><td>25</td><td>30</td><td>28</td></tr>
<tr><td>20445.</td><td>SPOGS Racing</td><td>July 7, 2008</td><td>Wii</td><td>18</td><td>37</td><td>28</td></tr>
<tr><td>20444.</td><td>WWE 2K20</td><td>October 22, 2019</td><td>Xbox One</td><td>45</td><td>12</td><td>29</td></tr>
<tr><td>20443.</td><td>Mindjack</td><td>January 18, 2011</td><td>Xbox 360</td><td>43</td><td>14</td><td>29</td></tr>
<tr><td>20442.</td><td>Inkheart</td><td>January 12, 2009</td><td>DS</td><td>39</td><td>18</td><td>29</td></tr>
<tr><td>20441.</td><td>Battleship</td><td>May 15, 2012</td><td>Xbox 360</td><td>38</td><td>19</td><td>29</td></tr>
<tr><td>20440.</td><td>SoulCalibur: Lost Swords</td><td>April 22, 2014</td><td>PlayStation 3</td><td>38</td><td>20</td><td>29</td></tr>
<tr><td>20439.</td><td>Power Gig: Rise of the SixString</td><td>October 19, 2010</td><td>Xbox 360</td><td>36</td><td>21</td><td>29</td></tr>
<tr><td>20438.</td><td>Bad Boys: Miami Takedown</td><td>September 14, 2004</td><td>GameCube</td><td>35</td><td>22</td><td>29</td></tr>
<tr><td>20437.</td><td>Shadow Harvest: Phantom Ops</td><td>April 5, 2011</td><td>PC</td><td>34</td><td>23</td><td>29</td></tr>
<tr><td>20436.</td><td>Bomberman Act: Zero</td><td>August 29, 2006</td><td>Xbox 360</td><td>34</td><td>23</td><td>29</td></tr>
<tr><td>20435.</td><td>Kabuki Warriors</td><td>November 19, 2001</td><td>Xbox</td><td>32</td><td>25</td><td>29</td></tr>
<tr><td>20434.</td><td>ARK: Survival Evolved</td><td>November 30, 2018</td><td>Switch</td><td>29</td><td>28</td><td>29</td></tr>
<tr><td>20432.</td><td>Rogue Warrior</td><td>December 1, 2009</td><td>Xbox 360</td><td>28</td><td>30</td><td>29</td></tr>
<tr><td>20431.</td><td>Batman: Dark Tomorrow</td><td>March 18, 2003</td><td>Xbox</td><td>25</td><td>33</td><td>29</td></tr>
<tr><td>20430.</td><td>Gravity Games Bike: Street Vert Dirt</td><td>June 27, 2002</td><td>PlayStation 2</td><td>24</td><td>34</td><td>29</td></tr>
<tr><td>20429.</td><td>Postal III</td><td>December 21, 2011</td><td>PC</td><td>24</td><td>33</td><td>29</td></tr>
<tr><td>20428.</td><td>Homie Rollerz</td><td>March 5, 2008</td><td>DS</td><td>23</td><td>35</td><td>29</td></tr>
<tr><td>20427.</td><td>Babylon's Fall</td><td>March 3, 2022</td><td>PC</td><td>46</td><td>13</td><td>30</td></tr>
<tr><td>20426.</td><td>WWE 2K20</td><td>October 22, 2019</td><td>PlayStation 4</td><td>43</td><td>17</td><td>30</td></tr>
<tr><td>20425.</td><td>Tennis World Tour</td><td>May 22, 2018</td><td>Xbox One</td><td>42</td><td>18</td><td>30</td></tr>
<tr><td>20424.</td><td>Charlie and the Chocolate Factory</td><td>July 11, 2005</td><td>Xbox</td><td>39</td><td>20</td><td>30</td></tr>
<tr><td>20423.</td><td>Tony Hawk's Pro Skater 5</td><td>September 29, 2015</td><td>Xbox One</td><td>39</td><td>21</td><td>30</td></tr>
<tr><td>20422.</td><td>Underworld Ascendant</td><td>November 15, 2018</td><td>PC</td><td>37</td><td>23</td><td>30</td></tr>
<tr><td>20421.</td><td>Power Gig: Rise of the SixString</td><td>October 19, 2010</td><td>PlayStation 3</td><td>36</td><td>24</td><td>30</td></tr>
<tr><td>20420.</td><td>Iron Man</td><td>May 6, 2008</td><td>PC</td><td>32</td><td>27</td><td>30</td></tr>
<tr><td>20419.</td><td>Weeping Doll</td><td>October 27, 2016</td><td>PlayStation 4</td><td>32</td><td>27</td><td>30</td></tr>
<tr><td>20418.</td><td>Batman: Dark Tomorrow</td><td>March 25, 2003</td><td>GameCube</td><td>29</td><td>30</td><td>30</td></tr>
<tr><td>20417.</td><td>Stake: Fortune Fighters</td><td>May 6, 2003</td><td>Xbox</td><td>26</td><td>34</td><td>30</td></tr>
<tr><td>20416.</td><td>Deca Sports Freedom</td><td>November 18, 2010</td><td>Xbox 360</td><td>26</td><td>33</td><td>30</td></tr>
<tr><td>20415.</td><td>World War II Combat: Iwo Jima</td><td>July 25, 2006</td><td>PC</td><td>26</td><td>34</td><td>30</td></tr>
<tr><td>20414.</td><td>Game Party Champions</td><td>November 18, 2012</td><td>Wii U</td><td>24</td><td>35</td><td>30</td></tr>
<tr><td>20413.</td><td>Diablo Immortal</td><td>June 2, 2022</td><td>PC</td><td>59</td><td>3</td><td>31</td></tr>
<tr><td>20412.</td><td>Extinction</td><td>April 10, 2018</td><td>PlayStation 4</td><td>47</td><td>14</td><td>31</td></tr>
<tr><td>20411.</td><td>Arcania: Fall of Setarrif</td><td>October 24, 2011</td><td>PC</td><td>41</td><td>20</td><td>31</td></tr>
<tr><td>20410.</td><td>Babylon's Fall</td><td>March 3, 2022</td><td>PlayStation 5</td><td>41</td><td>21</td><td>31</td></tr>
<tr><td>20409.</td><td>Umbrella Corps</td><td>June 21, 2016</td><td>PlayStation 4</td><td>38</td><td>24</td><td>31</td></tr>
<tr><td>20408.</td><td>Kick-Ass: The Game</td><td>April 29, 2010</td><td>PlayStation 3</td><td>33</td><td>28</td><td>31</td></tr>
<tr><td>20407.</td><td>Bruce Lee: Quest of the Dragon</td><td>July 1, 2002</td><td>Xbox</td><td>32</td><td>29</td><td>31</td></tr>
</table>


{% endblock %}